<!-- <div ng-show="!processDiagramState.$loaded"
     class="loader">
  <span class="animate-spin glyphicon glyphicon-refresh"></span>
  {{ 'LOADING' | translate }}
</div>

<div ng-if="processDiagramState.$loaded">

  <div ng-show="!processDefinition || !processDiagram.bpmn20xml"
       class="well">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ 'NO_DIAGRAM' | translate }}
  </div>

  <div ng-hide="!processDefinition || !processDiagram.bpmn20xml">
    <div class="diagram-pane"
         cam-widget-bpmn-viewer
         diagram-data="processXml"
         on-load="highlightTask()"
         control="control">
    </div>
  </div>


</div>
 -->


<div class="row">
	<div class="col-sm-4">
		<div process-tree current-task="currentTask"></div>
	</div>
	<div class="col-sm-8">
		<div class="diagram-pane" cam-widget-bpmn-viewer
			diagram-data="processXml" on-load="highlightTask()" control="control">
		</div>
	</div>
</div>


<!-- div js-tree="treeConfig" ng-model="treeData"
	should-apply="ignoreModelChanges()" tree="treeInstance"
	tree-events="ready:readyCB;create_node:createNodeCB"></div -->

<!-- div class="tree-pane" cam-widget-process-tree-bpmn-viewer
	process-instance-id="xxx" on-load="highlightTask()" control="control">
</div -->

